@{
    ViewBag.Title = "Resources";
    <link href="~/Content/resource.css" rel="stylesheet" />
}
<div class="blog_wel">
    <p>Resources</p>
    <p style="font-size:25px">For Parents</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-10">
            <div class="post-preview">
                <a href="@Url.Action("Safe_pro", "Home")">
                    <h2 class="post-title">Safety Programmes</h2>
                    <h3 class="post-subtitle">Child Safety Programmes across Melbourne.</h3>
                </a>
            </div>
            <hr />
            <div class="post-preview">
                <a href="@Url.Action("Checklist", "Home")">
                    <h2 class="post-title">Safety Checklist</h2>
                    <h3 class="post-subtitle">Check everything before go to school.</h3>
                </a>
            </div>
            <div class="post-preview">
                <a href="@Url.Action("School_Statistic", "Home")">
                    <h2 class="post-title">Route Safety Dashboard</h2>
                    <h3 class="post-subtitle">Find if your school route safe.</h3>
                </a>
            </div>
            <hr />
            <div class="post-preview">
                <a href="@Url.Action("Power", "Home")">
                    <h2 class="post-title">Child tracking, is it safe?</h2>
                    <h3 class="post-subtitle">Tracking your children, Pros &amp; Cons.</h3>
                </a>
            </div>
            <hr />
            <div class="post-preview">
                <a href="@Url.Action("Pedestrain", "Home")">
                    <h2 class="post-title">Pedestrian safety</h2>
                    <h3 class="post-subtitle">General information about pedestrian safety.</h3>
                </a>
            </div>
            <hr />
            <div class="post-preview">
                <a href="@Url.Action("Road", "Home")">
                    <h2 class="post-title">Road Safety</h2>
                    <h3 class="post-subtitle">General information about road safety.</h3>
                </a>
            </div>
            <hr />
            <div class="post-preview">
                <a href="@Url.Action("Bicycle", "Home")">
                    <h2 class="post-title">Bike Safety</h2>
                    <h3 class="post-subtitle">General information about bike safety.</h3>
                </a>
            </div>
            <hr />
            <div class="post-preview">
                <a href="@Url.Action("Game", "Home")">
                    <h2 class="post-title">Game</h2>
                    <h3 class="post-subtitle">Play games and learning about safety.</h3>
                </a>
            </div>
            <hr />
        </div>
    </div>
</div>